html, body {
	margin: 0;
	padding: 0;
	background-color: #006600;
	font-family: 'Arvo', serif;
	color: goldenrod;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-image: url("../images/grass.jpg");
	background-size: 35px;
	background-repeat: repeat;
}

// #instructions {
// 	display: block;
// 	position: absolute;
// 	z-index:1000000;
// 	margin: -10% auto;
// }

// button {
// 	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
// 	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
// 	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
// 	border-bottom: 1px solid rgba(0,0,0,0.25);
// 	font-family: 'Arvo', serif;
// 	font-size: 20px;
// 	display: block;
// 	margin: 0 auto;
// }

// .hide{
// 	display:none;
// }

#container {
	max-width: 100%;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
	display: block;
}

#lives {
	float: left;
	margin-left: 10%;
}

#score, #level {
	float: right;
	margin-right: 10%;
}

#canvas {
	clear: both;
	background-color: white;
	display: block;
	margin: 0 auto;
	margin-bottom: 10%;
	border: 1px solid goldenrod;
	/*border-radius: 50%;*/
}


// @media (max-width: 640px){
// 	h1 {
// 		font-size: 2rem;
// 	}

// 	#canvas {
// 		width: 400px; 
// 		height: 250px;
// 		border: 1px solid blue;
// 		/*border-radius: 50%;*/
// 	}
// }
